.admin-header {
    z-index: 10000;
    position: fixed;
    background-color: #0a9a2c;
    padding-top: 1%;
    padding-bottom: 1%;
}
.must-remember-block {
    border: solid 2px red;
}

.must-remember {
    color: black;
    font-size: 12px;
    font-weight: 400;
}

.new-incoming-message {
    position: absolute;
    width: 25px;
    height: 15px;
    background-color: red;
    color: #ffffff;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    bottom: 35px;
}

/*body {*/
/*    background: #1d2124;*/
/*}*/

/*th, td {*/
/*    color: white;*/
/*}*/

.main-container {
    /*margin-top: 5%;*/
}

.input_in_admin {
    font-size: 14pt;
    background: transparent;
    color: black;
    /*border:none;*/
    border-top: white;
    border-left: white;
    border-right: white;
    resize: vertical;
}

.control-label {
    font-size: 14pt;
    color: darkgreen;
    font-weight: 600;
    text-align: right;
    float: left;
    margin-right: 15px;
}

.admin_image_big, .admin_image_small, .thumb{
    width: 60%;
}


