.site-header {
    position: fixed;
    background: #feb731;
    z-index: 10000;
    top: 0;
}

.header-text {
    position: relative;
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    line-height: 18px;
}
.header-block {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
