.homepage-box-image1, .homepage-box-image2, .homepage-box-image3 {
    border: solid 5px saddlebrown;
    width: 100%;
}

.homepage-text-after-images {
    font-weight: 600;
    font-size: 16pt;
    color: black;
}

.homepage-text-before-images {
    font-weight: 600;
    font-size: 16pt;
    color: black;
}

.homepage-box-image {
    width: 100%;
    margin: 1% 1% 0.5% 0;
}

.homepage-box-first-image {
    width: 60%;
    float: left;
    margin: 1% 1% 0.5% 0;
}

.homepage-text-before-first-images {
    font-weight: 600;
    font-size: 16pt;
    color: black;
}

.next-post-text {
    font-weight: 500;
    font-size: 12px;
    color: black;
}

.homepage-small-block-post, .homepage-big-block-post {
    margin-top: 1%;
    margin-bottom: 1%;
}
