.homepage-box-image1, .homepage-box-image2, .homepage-box-image3 {
    border: solid 5px saddlebrown;
    width: 100%;
}

.homepage-text-after-images {
    font-weight: 600;
    font-size: 16pt;
    color: black;
}

.homepage-text-before-images {
    font-weight: 600;
    font-size: 16pt;
    color: black;
}

.homepage-box-image {
    margin-left: 1%;
    width: 90%;
}
