.left-nav-menu-first-block {
    background: #0f1640;
    border-top: solid 5px #757575;
    border-left: solid 5px #757575;
    border-right: solid 5px #757575;
}

.left-nav-menu-first-block-text {
    color: #8489a5;
    font-size: 14px;
    font-weight: bold;
}

.left-nav-menu-second-block {
    border-bottom: solid 5px #757575;
    border-left: solid 5px #757575;
    border-right: solid 5px #757575;
    background: #8489a5;
}

.left-nav-menu-second-block-text {
    color: #0f1640;
    font-size: 14px;
    font-weight: bold;
}

.left-nav-menu-main-block {

}
