.content-box {
    box-shadow: 10px 10px 10px #575757;
    border: dotted 1px #575757;
    background-color: white;
}

body {
    background: #eaeaea;
}

/*FOOTER*/
.site-footer {
    background-color: #212121;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 2%;
}
.footer-text-left {
    color:#8489a5;
    font-weight: bold;
    font-size: 16pt;
}

