.content-box {
    box-shadow: 10px 10px 10px #575757;
    border: dotted 1px #575757;
    background-color: #ab8d47;
}

body {
    background: #866b5b;
}

/*FOOTER*/
.site-footer {
    background-color: #a9adb0;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 2%;
}
.footer-text-left {
    color:black;
    font-weight: bold;
    font-size: 16pt;
}

